:root{
  --primaryColor: #211d71;
  --redColor: #ed1b24;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  /* margin-top: 10px;
  padding: 5px; */
  /* box-shadow: 1px 3px 5px  !important; */

}
.title1{
  color: var(--primaryColor);
}
.title2{
  color: var(--redColor);
}

.menu{
  background-color: var(--primaryColor) !important;
  border-radius: 5px 20px !important;
}
.nav{
  /* border-bottom: 2px solid var(--redColor);
  border-radius: 20px; */
}
h1,h2,h3,h4,h5,h6{
  color: var(--primaryColor);
}
p{
  text-align: justify;
}
hr{
  padding-right: 40%;
}

.footer{
  background-color: var(--primaryColor);
  color: #fff;
  padding: 10px;
  box-shadow: 1px 3px 5px  !important;
}
.footer span{
  padding: 10px;
}
.profile{
  padding: 10px;
}